@import "vars";

// Color tokens

$neutral-00: #ffffff;
$neutral-10: #f5f5f5;
$neutral-20: #bdbdbd;
$neutral-30: #929292;
$neutral-40: #515151;
$neutral-60: #313131;
$neutral-90: #000000;

@mixin color-theme-light {
  @include setvars(
    (
      background: $neutral-10,
      modal-background: $neutral-00,
      text-primary: $neutral-90,
      text-secondary: $neutral-60,
      text-ghost: $neutral-40,
      project-card-background: $neutral-00,
      loading-placeholder: $neutral-30,
      button-background: $neutral-10,
      back-button: $neutral-40,
      button-border: $neutral-40,
      input-background: $neutral-00,
      input-border: $neutral-20,
      active-selection-background: $neutral-10,
      action-bar-background: #f1c258,
      action-bar-background_disabled: #f1c258,
      tracking-background: $neutral-00,
      activity-slat-separator: $neutral-20,
      mini-timeline-card-background: $neutral-00,
      mini-timeline-inactive: $neutral-20,
      timeline-background: $neutral-00,
      timeline-gridline: $neutral-20,
    )
  );
}

@mixin color-theme-dark {
  @include setvars(());
}
