@import "vars";

$background-color: getvar(background);
$text-primary-color: getvar(text-primary);
$text-secondary-color: getvar(text-secondary);
$text-ghost-color: getvar(text-ghost);

$loading-placeholder-color: getvar(loading-placeholder);

$block-vertical-spacing: 1.5rem;

// CONTENT FRAME
$content-frame-pad: 1rem;

// BUTTON
$button-border-color: getvar(button-border);
$button-background-color: getvar(button-background);
$button-border-size: 1px;
$button-border-radius: 40px;
$button-padding-vertical: 0.5rem;
$button-padding-horizontal: 1.5rem;
$button-min-width: 6rem;
// icon button
$button-icon-spacing: 0.5rem;
$button-icon-size: 1.25em; // use em to scale button icon with button font size
// small size
$button-padding-vertical-small: 0.25rem;
$button-padding-horizontal-small: 1rem;
// label size
$button-padding-horizontal-label: 0.5rem;
$button-min-width-label: 3rem;
$button-icon-spacing-label: 0.125rem;
$button-icon-size-label: 1rem;

// BUTTON GROUP
$button-group-fill-spacing: 1.5rem;

// BACK BUTTON
$back-button-text-color: getvar(back-button);

// INPUT
$input-border-color: getvar(input-border);
$input-border-size: 1px;
$input-border-radius: 2px;
$input-background-color: getvar(input-background);
$input-padding-vertical: 0.625rem;
$input-padding-horizontal: 1rem;
$input-spacing-inner: 0.5rem;
$input-active-selection-background-color: getvar(active-selection-background);

// ACTION BAR
$action-bar-height: 5rem;
$action-bar-background-color: getvar(action-bar-background);
$action-bar-background-color_disabled: getvar(action-bar-background_disabled);
$action-bar-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.1);

// ACTIVITY CHIPS
$token-vertical-spacing: 0;
$token-horizontal-spacing: 1rem;
$token-border-radius: 40px;
$token-fixed-width: 3rem;
$token-text-color-light: white;
$token-text-color-dark: black;
// remove once token is rewritten to calculate correct color
// or, remove options if we ensure all colors are legible
// with one color of text
$token-text-color: $token-text-color-light;

// MODAL
$modal-scrim-opacity: 0.35;
$modal-background-color: white;
$modal-padding-vertical: 2rem;
$modal-padding-horizontal: 1.25rem;
$modal-border-radius: 4px;
$modal-min-width: 16rem;
$modal-min-gap-horizontal: 3rem;
$modal-min-gap-vertical: 4rem;
$modal-shadow: 0px 24px 38px rgba(black, 0.14), 0px 11px 15px rgba(black, 0.2);

// COLOR PICKER
$color-picker-swatch-size: 2.5rem;
$color-picker-spacing: 0.75rem;
$color-picker-swatch-border-radius: 4px;
$color-picker-swatch-check-padding: 0.5rem;
$color-picker-swatch-check-opacity: 1;

// ACTIVITY TOGGLE
$activity-toggle-width: 4rem;
$activity-toggle-height: 2rem;
$activity-toggle-border-width: 1px;
$activity-toggle-background-opacity: 0.15;
$activity-toggle-thumb-padding: 0.25rem;
$activity-toggle-text-padding: 0.5rem;
$activity-toggle-transition-speed: 0.25s;

// TRACKING
$tracking-background-color: getvar(tracking-background);

// ACTIVITY SLAT
$activity-slat-padding-vertical: 1rem;
$activity-slat-separator-width: 1px;
$activity-slat-separator-color: getvar(activity-slat-separator);

// MINI TIMELINE
$mini-timeline-card-background-color: getvar(mini-timeline-card-background);
$mini-timeline-card-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.14);
$mini-timeline-inactive-color: getvar(mini-timeline-inactive);
$mini-timeline-height: 4rem;
$mini-timeline-padding: 1rem;

// PROJECT CARDS
$project-card-width: 8rem;
$project-card-height: 12rem;
$project-card-background-color: getvar(project-card-background);
$project-card-border-radius: 4px;
$project-card-link-margin-top: 0.5rem;
$project-card-link-arrow-gap: 1rem;
$project-card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
$project-card-loading-ph-width: 6rem;
$project-card-loading-ph-height: 1rem;
$project-card-new-plus-size: 4rem;
$project-card-new-plus-color: $text-ghost-color;

// TIMELINE
$timeline-background-color: getvar(timeline-background);
$timeline-gridline-color: getvar(timeline-gridline);
