$type-body: (
  size: 16,
  weight: 400,
  height: 24,
);

$type-header: (
  size: 22,
  weight: 400,
  height: 24,
);

$type-section-header: (
  size: 12,
  weight: 600,
  height: 24,
);

$type-caption: (
  size: 12,
  weight: 400,
  height: 16,
);

$type-card-link: (
  size: 14,
  weight: 400,
  height: 16,
);

$type-button: (
  size: 16,
  weight: 300,
  height: 24,
);

$type-button-small: (
  size: 14,
  weight: 300,
  height: 20,
);

$type-input-label: (
  size: 16,
  weight: 500,
  height: 24,
);

$type-button-inlabel: (
  size: 12,
  weight: 400,
  height: map-get($type-input-label, height),
);

$type-input: (
  size: 14,
  weight: 400,
  height: 20,
);

$type-token: (
  size: 14,
  weight: 600,
  height: 24,
);

$type-activity-toggle-off: (
  size: 12,
  weight: 400,
  height: 12,
);
$type-activity-toggle-on: (
  size: 12,
  weight: 700,
  height: 12,
);

$type-timer-time: (
  size: 16,
  weight: 600,
  height: 20,
);
$type-timer-type: (
  size: 12,
  weight: 600,
  height: 16,
);

$type-detail: (
  size: 14,
  weight: 500,
  height: 16,
);

@function rem($px) {
  @return $px * 1rem / 16;
}

@mixin type-style($style) {
  font-size: rem(map-get($style, size));
  font-weight: map-get($style, weight);
  line-height: rem(map-get($style, height));
}
